/* 
 * Use custom css only in exceptional circumstances.
 * Like adding cute hats where it is otherwise not possible.
 */

.red-hat::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('assets/redhat.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  vertical-align: middle;
}

.hero {
  display: block
}

.tagline {
  max-width: max-content;
}